.myenv
.env
# Ignore credential/token files
credentials.json
token.json

# Ignore SSL/TLS certificate and key files
*.pem
*.crt
*.key
*.csr
*.p12

# Ignore Python cache and virtual environment directories
__pycache__/
*.pyc
venv/
